# 의존성
node_modules

# Next.js 빌드 출력
.next/
out/

# Cloudflare Pages 빌드 출력
.vercel/

# 환경 변수 (절대 커밋 금지)
.env
.env.local
.env.*.local

# 로그
*.log
npm-debug.log*

# OS
.DS_Store
*.suo
*.sw?

# 에디터
.vscode/*
!.vscode/extensions.json
.idea
